@import "tailwindcss";

/* Your brand colors */
:root{
    --clr-page: #F4FBFE;   /* background */
    --clr-accent: #55CCD3; /* cyan accent */
    --clr-nav-from: #0B112B;
    --clr-nav-to: #253991;
}

html { min-height: 100%; }
body { background: var(--clr-page); }
